<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleDevelopmentRegion</key>
	<string>en</string>
	<key>CFBundleDisplayName</key>
	<string>${PRODUCT_NAME}</string>
	<key>CFBundleExecutable</key>
	<string>${EXECUTABLE_NAME}</string>
	<key>CFBundleIconFile</key>
	<string>appicon.png</string>
	<key>CFBundleIconFiles</key>
	<array>
		<string>MH_AppIcon_IOS_80</string>
		<string>MH_AppIcon_IOS_120</string>
		<string>MH_AppIcon_IOS_58</string>
		<string>MH_AppIcon_IOS_29</string>
		<string>appicon.png</string>
		<string>appicon@2x.png</string>
		<string>appicon-72.png</string>
		<string>appicon-Small.png</string>
		<string>appicon-Small@2x.png</string>
		<string>appicon-Small-50.png</string>
	</array>
	<key>CFBundleIconFiles~ipad</key>
	<array>
		<string>MH_AppIcon_IOS_80</string>
		<string>MH_AppIcon_IOS_152</string>
		<string>MH_AppIcon_IOS_76</string>
		<string>MH_AppIcon_IOS_58</string>
		<string>MH_AppIcon_IOS_29</string>
		<string>MH_AppIcon_IOS_100</string>
		<string>MH_AppIcon_IOS_40</string>
		<string>MH_AppIcon_IOS_50</string>
		<string>MH_AppIcon_IOS_144</string>
		<string>appicon.png</string>
		<string>appicon@2x.png</string>
		<string>appicon-72.png</string>
		<string>appicon-Small.png</string>
		<string>appicon-Small@2x.png</string>
		<string>appicon-Small-50.png</string>
	</array>
	<key>CFBundleIdentifier</key>
	<string>com.missionhub</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundleName</key>
	<string>${PRODUCT_NAME}</string>
	<key>CFBundlePackageType</key>
	<string>APPL</string>
	<key>CFBundleShortVersionString</key>
	<string>2.0</string>
	<key>CFBundleSignature</key>
	<string>????</string>
	<key>CFBundleURLTypes</key>
	<array>
		<dict>
			<key>CFBundleURLSchemes</key>
			<array>
				<string>fb233292170040365</string>
			</array>
		</dict>
	</array>
	<key>CFBundleVersion</key>
	<string>2.0</string>
	<key>FacebookAppID</key>
	<string>233292170040365</string>
	<key>FacebookDisplayName</key>
	<string>MissionHub</string>
	<key>LSRequiresIPhoneOS</key>
	<true/>
	<key>UILaunchImages~ipad</key>
	<array>
		<dict>
			<key>UILaunchImageMinimumOSVersion</key>
			<string>7.0</string>
			<key>UILaunchImageName</key>
			<string>MH_Mobile_DefaultImage_ipad_portrait</string>
			<key>UILaunchImageOrientation</key>
			<string>Portrait</string>
			<key>UILaunchImageSize</key>
			<string>{768, 1024}</string>
		</dict>
		<dict>
			<key>UILaunchImageMinimumOSVersion</key>
			<string>7.0</string>
			<key>UILaunchImageName</key>
			<string>MH_Mobile_DefaultImage_ipad_landscape</string>
			<key>UILaunchImageOrientation</key>
			<string>Landscape</string>
			<key>UILaunchImageSize</key>
			<string>{768, 1024}</string>
		</dict>
	</array>
	<key>UIMainStoryboardFile</key>
	<string>MissionHub_iPhone</string>
	<key>UIMainStoryboardFile~ipad</key>
	<string>MissionHub_iPad</string>
	<key>UIPrerenderedIcon</key>
	<true/>
	<key>UIRequiredDeviceCapabilities</key>
	<array>
		<string>armv7</string>
	</array>
	<key>UISupportedInterfaceOrientations</key>
	<array>
		<string>UIInterfaceOrientationPortrait</string>
		<string>UIInterfaceOrientationLandscapeLeft</string>
		<string>UIInterfaceOrientationLandscapeRight</string>
		<string>UIInterfaceOrientationPortraitUpsideDown</string>
	</array>
	<key>UISupportedInterfaceOrientations~ipad</key>
	<array>
		<string>UIInterfaceOrientationPortrait</string>
		<string>UIInterfaceOrientationPortraitUpsideDown</string>
		<string>UIInterfaceOrientationLandscapeLeft</string>
		<string>UIInterfaceOrientationLandscapeRight</string>
	</array>
</dict>
</plist>
