[submodule "webrequest"]
	path = webrequest
	url = https://github.com/nfarina/webrequest.git
[submodule "ECSlidingViewController"]
	path = ECSlidingViewController
	url = https://github.com/edgecase/ECSlidingViewController.git
[submodule "MMReachabilityViewController"]
	path = MMReachabilityViewController
	url = https://github.com/michaelharro/MMReachabilityViewController.git
