[submodule "Libraries/ECSlidingViewController"]
	path = Libraries/ECSlidingViewController
	url = https://github.com/edgecase/ECSlidingViewController.git
[submodule "Libraries/MMReachabilityViewController"]
	path = Libraries/MMReachabilityViewController
	url = https://github.com/michaelharro/MMReachabilityViewController.git
[submodule "Libraries/ODRefreshControl"]
	path = Libraries/ODRefreshControl
	url = https://github.com/Sephiroth87/ODRefreshControl.git
[submodule "Libraries/AFNetworking"]
	path = Libraries/AFNetworking
	url = https://github.com/AFNetworking/AFNetworking.git
[submodule "Libraries/SDSegmentedControl"]
	path = Libraries/SDSegmentedControl
	url = https://github.com/rs/SDSegmentedControl
[submodule "Libraries/M6ParallaxController"]
	path = Libraries/M6ParallaxController
	url = https://github.com/michaelharro/M6ParallaxController.git
[submodule "Libraries/SIAlertView"]
	path = Libraries/SIAlertView
	url = https://github.com/Sumi-Interactive/SIAlertView.git
[submodule "Libraries/DWTagList"]
	path = Libraries/DWTagList
	url = https://github.com/michaelharro/DWTagList.git
[submodule "Libraries/TTTAttributedLabel"]
	path = Libraries/TTTAttributedLabel
	url = https://github.com/mattt/TTTAttributedLabel.git
[submodule "Libraries/REActivityViewController"]
	path = Libraries/REActivityViewController
	url = https://github.com/michaelharro/REActivityViewController.git
